<div class="modal-header">
    <h4 class="modal-title" style="color:#00000F" id="myModalLabel">Point id : {{item.id}}</h4>
</div>
<div class="modal-body">
    <!-- select cam -->
    <span style="margin-right: 10px"> Select Camera :</span>
    <select class="input-large" ng-model="selected_camera" ng-options="c as c.resource_uri for c in camera">
    </select>
    <div id="camera-wrapper" ng-style="getCameraImg()" style="position:relative;border: 1px solid #eee; margin-top:20px; background-repeat: round;">
        <div ng-if="selected_camera.id"id="draggable-zone1" class="draggable-camera" ng-style="getStyle(0)"></div>
        <div ng-if="selected_camera.id && !formData.one_way"id="draggable-zone2" class="draggable-camera" ng-style="getStyle(1)"></div>
    </div >
    <div class="row">
    <select class="input-large col-md-3" style="top:10px" ng-model="marker1" ng-options="c as c.resource_uri for c in markers">
    </select>
    <select class="input-large col-md-3" style="top:10px" ng-model="marker2" ng-options="c as c.resource_uri for c in markers">
    </select>
    <div class="form-group col-md-3">
    <input type="text" class="form-control" ng-model="formData.camera_length" placeholder="Camera Length">
    </div>
    <div class="form-group col-md-3">
    <input type="text" class="form-control" ng-model="formData.camera_aspect" placeholder="Street Proportion/Width Of Camera">
    </div>
    <label class="btn btn-primary">
    <input type="checkbox" ng-model="formData.one_way" >One Way
    </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="remove()">Remove</button>
</div>
<script type="text/javascript">
</script>
