<div class="modal-header">
  <h4 class="modal-title" style="color:#00000F" id="myModalLabel">Edit Report Time</h4>
</div>
<div class="modal-body">
 <form class="form-horizontal">
  <div class="form-inline">
    <label for="start" style="  margin-top: 7px;" >Start:</label>
     <input id="start" type="datetime-local" ng-model="start" ng-disabled="c.video_url" class="form-control" style="width: 260px;"></input>
   <!--  <timepicker ng-model="start.time"  show-meridian="false"></timepicker>
    <div class="input-group" >
    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="start.date" is-open="opened1" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open_start($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span> -->
  </div>
  <div class="form-inline" style="margin-top:20px">
    <label for="end" style="  margin-top: 7px;">End:</label>
    <input id="end" type="datetime-local" ng-model="end" ng-disabled="c.video_url" class="form-control" style="width: 260px;" placeholder="Video DateTime"></input>
   <!--  <timepicker class="col-xs-1" ng-model="end.time" style="margin-left:2%" show-meridian="false"></timepicker>
    <div class="input-group col-xs-6" style="margin-left:25%;margin-top:33.5px">
    <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="end.date" is-open="opened2" close-text="Close" />
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open_end($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span> -->
  <!-- </div> -->
</div>


</form>
  <div class=""></div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>