<div class="modal-header">
    <h4 class="modal-title" style="color:#00000F" id="myModalLabel">Camera & Video Setting</h4>
</div>
<div class="modal-body row">
  <!-- repeat in camera-->
  <div ng-repeat="c in camera" style="border-bottom:5px">
  <div class="form-inline row" style="margin-top:10px; margin-bottom:10px">
    <label class="col-xs-2 col-xs-offset-1" style="margin-top:25px">{{c.resource_uri}} -></label>
    <div class="col-xs-5">
    <div>
    <input type="text" ng-model="c.video_url" ng-disabled="c.video_date" class="form-control" style="width: 260px;" placeholder="Video Stream URL"></input>
    <div class="btn btn-warning" style="width: 75px;" ng-click="save(c)" ng-disabled="!c.video_url">Save</div>
    </div>
    <div style="margin-top:10px">
    <input type="datetime-local" ng-model="c.video_date" ng-disabled="c.video_url" class="form-control" style="width: 260px;" placeholder="Video DateTime"></input>
    <div class="btn btn-warning" ng-disabled="!c.video_date" ng-accept="'video/*'" ng-file-select ng-file-change="fileChange($files, $event, c)" style="width: 75px;">Upload</div>
    </div>
  </div>
    <div class="col-xs-4" style="width: 30%;margin-top: 10px;">
      <label>{{c.status}}</label>
      <button ng-if="c.resume" ng-click="resume(c)"class="btn btn-danger">Resume</button>
      <progressbar ng-if="c.progressPercentage!==undefined" value="c.progressPercentage"><span style="color:black; white-space:nowrap;">{{c.progressPercentage}}%</span></progressbar>
    </div>
  </div>

</div>
<form class="form-inline row" style="  border-top: solid 1px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  padding-top: 15px;"><!---->
  <!-- camera add button-->
  <div class="form-group col-xs-4 col-xs-offset-1">
    <label for="name">Camera Name</label>
    <input type="text" style="width:240px" ng-model="cameraFormData.name"class="form-control" id="name" placeholder="">
  </div>
  <div class="form-group col-xs-3">
    <label>Camera Size</label>
    <div>
    <input type="text" ng-model="cameraFormData.width" class="form-control" id="width" placeholder="Width">
    <input style="margin-top:10px" type="text" ng-model="cameraFormData.height"class="form-control" id="height" placeholder="Height">
    </div>
  </div>
  <button type="submit" style="margin-top:20px"class="form-control btn btn-default" ng-click="add()">Add Camera</button>

</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>