       <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="position:relative;">
            <div class="container">


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="alert alert-info" href="" ng-click="editTime()">Report at {{datetime.end | date:'dd/MM/yyyy @ h:mma'}}</a></li>
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>

                        </li>
                        <li>
                            <a class="page-scroll" href="/app/#/setting/">Setting</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/app/#/report/">Report</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/app/#/plan/">Route Planner</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
<div style="width:100%;">
    <ui-gmap-google-map center='map.center' events='map.events' zoom='map.zoom'>
    <ui-gmap-marker ng-repeat="m in markers2" coords="m" icon="m.icon" ng-click="$parent.onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak  coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options">
                <div>
                    <p> ID: {{m.id}} lat {{m.latitude}} lng {{m.longitude}}</p>
                    <button class="btn btn-success" ng-click="$parent.$parent.removeMarker($parent.m)">Remove Marker</button>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
        <!-- <ui-gmap-marker ng-repeat="m in markers" coords="m" icon="m.icon" ng-click="$parent.onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak  coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options">
                <div>
                    <p> ID: {{m.id}} lat {{m.latitude}} lng {{m.longitude}}</p>
                    <button class="btn btn-success" ng-click="$parent.$parent.removeMarker($parent.m)">Remove Marker</button>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker> -->
        <ui-gmap-polyline ng-if="render" ng-repeat="m in polys2" stroke="m.stroke" path="m.path" clickable="true" static="true" icons="m.id" events="m.events">
        </ui-gmap-polyline>
        <ui-gmap-polyline ng-if="polys2.length == 0 && render" ng-repeat="m in polys" stroke="m.stroke" path="m.path" clickable="true" static="true" icons="m.id" events="m.events">
        </ui-gmap-polyline>
    </ui-gmap-google-map>
    <div style="  float: right;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 5px;">
    <button class="btn btn-success" ng-click="calculateRoute()">Calculate Route</button>
    </div>
</div>