<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">ATR</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <!-- ul class="nav navbar-nav">
    
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
          <li><a class="alert alert-info" href="" ng-click="editTime()">Report at {{datetime.end | date:'dd/MM/yyyy @ h:mma'}}</a></li>
          <li><a href="/app/#/setting/">Setting</a></li>
          <li><a href="/app/#/report/">Report</a></li>
          <li class="active"><a href="">Route Planner</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

        <!-- Intro Header -->
<div style="width:100%;">
    <ui-gmap-google-map center='map.center' events='map.events' zoom='map.zoom'>
    <ui-gmap-marker ng-repeat="m in markers2" coords="m" icon="m.icon" ng-click="$parent.onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak  coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options">
                <div>
                    <p> ID: {{m.id}} lat {{m.latitude}} lng {{m.longitude}}</p>
                    <button class="btn btn-success" ng-click="$parent.$parent.removeMarker($parent.m)">Remove Marker</button>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
        <!-- <ui-gmap-marker ng-repeat="m in markers" coords="m" icon="m.icon" ng-click="$parent.onMarkerClicked(m)" idKey="m.id" options="m.options">
            <ui-gmap-window ng-cloak  coords="map.infoWindowWithCustomClass.coords" isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options">
                <div>
                    <p> ID: {{m.id}} lat {{m.latitude}} lng {{m.longitude}}</p>
                    <button class="btn btn-success" ng-click="$parent.$parent.removeMarker($parent.m)">Remove Marker</button>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker> -->
        <ui-gmap-polyline ng-if="render" ng-repeat="m in polys2" stroke="m.stroke" path="m.path" clickable="true" static="true" icons="m.id" events="m.events">
        </ui-gmap-polyline>
        <ui-gmap-polyline ng-if="polys2.length == 0 && render" ng-repeat="m in polys" stroke="m.stroke" path="m.path" clickable="true" static="true" icons="m.id" events="m.events">
        </ui-gmap-polyline>
    </ui-gmap-google-map>
    <div style=
     "float: right;
      right: 10px;
      bottom: 20px;
      position: absolute;
      ">
    <button class="btn btn-success" ng-click="calculateRoute()">Calculate Route</button>
    </div>
</div>