<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="position:relative;">
            <div class="container">


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">

                    <ul class="nav navbar-nav">
                        <li>
                            <select style="margin-top:10px;border-color:#000;width:140px;margin-right:20px"class="form-control" ng-model="time" ng-options="opt.step as opt.text for opt in options"></select></li>
                        <li><p class="input-group" style="width: 300px;margin-top: 10px;padding: 0px;margin-bottom: auto;">
              <input type="text" style="border-color:#000" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="dt($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p></li>
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/app/#/setting/">Setting</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/app/#/report/">Report</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <div style="width:100%;">
            <div id="map-wrapper" class="intro" style="height:620px;width:1400px;margin:0 auto;" >
                <div ng-repeat="point in points" load-finish-report>
                    <div ng-if='point.show' ng-click="open(point)" ng-attr-id='{{point.id}}' class="draggable-map ui-draggable ui-draggable-handle"  style="{{getStyle(point)}}">
                    </div>



                </div>
                <div ng-repeat="r_data in r_datas">
                    <a href="" ng-click="open(r_data.data)" style="{{getDataStyle(r_data)}}">
                    </a>
                </div>
                <div class="navbar-footer"  style="position: absolute; 
                bottom: 0;width: 100%;
                margin: 0 auto;">

                <div class="btn-group" style="">
                    <a class="btn btn-default" href="#" ng-click="add()"><i class="fa fa-plus fa-3x"></i></a>
                    <a class="btn btn-default" href="#"><i class="fa fa-floppy-o fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>