<div class="modal-header">
    <h4 class="modal-title" style="color:#00000F" id="myModalLabel">Data id : {{item.id}}</h4>
</div>
<div class="modal-body row">
   <!-- table -->
   <div class="col-md-5">
    <h4 style="margin-bottom:10px">{{item.start}} to {{item.end}}</h4>
   <table class="table  table-bordered" style="float:left">
    <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Speed</th>
          <td>{{item.speed}}</td>
        </tr>
        <tr>
          <th scope="row">Traffic</th>
          <td>{{item.traffic}}</td>
        </tr>
      </tbody>
    </table>
    
<canvas id="bar" class="chart chart-line" data="data"
  labels="labels"></canvas>
</div>
<div class="col-md-offset-2 col-md-5">
    <h4 style="margin-bottom:10px">{{item.end}} to {{item.start}}</h4>
<table class="table  table-bordered" style="float:right">
    <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Speed</th>
          <td>{{item.speed}}</td>
        </tr>
        <tr>
          <th scope="row">Traffic</th>
          <td>{{item.traffic}}</td>
        </tr>
      </tbody>
    </table>

<canvas id="bar" class="chart chart-line" data="data2"
  labels="labels"></canvas>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="export()">Export</button>
</div>
<script type="text/javascript">
    $( "#draggable-zone" ).draggable({ containment: "#camera-wrapper", scroll: false }).resizable();
</script>
